.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.page {
  text-align: center;
}

.navbar {
  display: inline-block;
  vertical-align: middle;
  margin-top: 15px;
  padding-bottom: 30px;
  word-spacing: 150px;
}

.menu-item {
  display: inline;
  color: #ff0000;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2.7px;
}
.image {
  width: 1170px;
}
.menu-link {
  text-decoration: none;
  color: #ff0000;
}
.title {
  text-align: center;
}
.title-item {
  text-transform: uppercase;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 3.3px;
  margin-top: 48px;
  color: #373737;
}
.content {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.4px;
  color: #373737;
}
.wrapper-button {
  text-align: center;
  display: block;
}

.btn {
  background: #ff0000;
  border-radius: 4px;
  width: 191px;
  height: 51px;
  color: white;
  -webkit-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  margin-top: 66px;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  font-family: cursive;
}
.btn:hover {
  -webkit-transform: translate(10px);
  transform: translate(10px);
}

.footer {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.4px;
  height: 39px;
  width: 462px;
  border-radius: nullpx;
  color: #373737;
  margin: 82px 0px 29px 655px;
}
